@model ArsenalFanPage.Web.ViewModels.Product.SingleProductViewModel
@{
    this.ViewData["Title"] = Model.Name;

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chamb - Responsive E-commerce HTML5 Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--enable mobile device-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--fontawesome css-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/slick.min.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>

    <div class="product-page-main">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 col-sm-12">
                </div>
                <div class="col-md-7 col-sm-8">
                    <div class="md-prod-page">
                        <div class="md-prod-page-in">
                            <div class="page-preview">
                                <div class="preview">
                                    <div class="preview-pic tab-content">
                                        <div class="tab-pane active" id="pic-1"><img src="@Model.ImageUrl" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-dit-list clearfix">
                                <hr>

                            </div>
                        </div>
                        <div class="description-box">
                            <div class="dex-a">
                                <h4 style="color: black"> Description</h4>
                                <text style="color:black">
                                    @Html.Raw(Model.Description)
                                </text>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="price-box-right">
                        <h3>Price</h3>
                        <h2 style="color:black">Total: $@Model.Price</h2>
                        <hr />
                        <h4 >In Stock: @Model.Quantity</h4>
                        <a href="#">Buy Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--main js-->
    <script src="js/jquery-1.12.4.min.js"></script>
    <!--bootstrap js-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/select2.full.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--custom js-->
    <script src="js/custom.js"></script>
</body>
</html>