<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--fontawesome css-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <hr />
    <div class="page-content-product">
        <div class="row clearfix">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="box-img">
                    <div class="tn-title">
                        <a class="nav-link" asp-area="" asp-controller="Products" asp-action="ProductById"><h4>T-Shirt 2020/2021</h4></a>
                    </div>
                    <img src="/images/product/T-shirt-2021.png" alt="" />
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">               
                    <div class="box-img">
                        <div class="tn-title">
                            <a class="nav-link" asp-area="" asp-controller="Products" asp-action="ProductById"><h4>Product</h4></a>
                        </div>
                        <img src="/images/product/2.png" alt="" />
                    </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>Product</h4>
                        <img src="/images/product/4.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>Product</h4>
                        <img src="/images/product/5.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>Product</h4>
                        <img src="/images/product/10.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>Product</h4>
                        <img src="/images/product/11.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>Product</h4>
                        <img src="/images/product/12.png" alt="" />
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-3">
                <a href="productpage.html">
                    <div class="box-img">
                        <h4>Product</h4>
                        <img src="/images/product/13.png" alt="" />
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>

