@model ArsenalFanPage.Web.ViewModels.Product.ProductListViewModel

@{
    this.ViewData["Title"] = "Shop";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--fontawesome css-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--bootstrap css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--animate css-->
    <link rel="stylesheet" href="/css/animate-wow.css">
    <!--main css-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/slick.min.css">
    <!--responsive css-->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <hr />
    <div class="page-content-product">
        <div class="row clearfix">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="box-img">
                        <div class="tn-title">
                            <a asp-action="ProductById" asp-route-id="@product.Id"><h4>@product.Name</h4></a>
                        </div>
                        <img src="@product.ImageUrl"/>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>

