@model ArsenalFanPage.Web.ViewModels.News.NewsListViewModel
@{
    this.ViewData["Title"] = "History";
}

<body>

    <div class="top-news">

        <div class="container">
            <div class="row">
                <div class="col-md-6 tn-left">
                    <div class="row tn-slider">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/Gery.jpg" />
                                <div class="tn-title">
                                    <a href="/News">Happy 2 years and 1 month, baby Pavv!</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-450x350-2.jpg" />
                                <div class="tn-title">
                                    <a href="">Integer hendrerit elit eget purus sodales maximus</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 tn-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-1.jpg" />
                                <div class="tn-title">
                                    <a href="">Lorem ipsum dolor sit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-2.jpg" />
                                <div class="tn-title">
                                    <a href="">Look like Gery-Chan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-3.jpg" />
                                <div class="tn-title">
                                    <a href="">Look this is Gery-Chan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="img/news-350x223-4.jpg" />
                                <div class="tn-title">
                                    <a href="">Lorem ipsum dolor sit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr />
    @foreach (var news in this.Model.News)
    {
        <div class="tab-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div id="featured" class="container tab-pane active">

                                <div class="tn-news">
                                    <div class="tn-img">
                                        <img src="@news.ImageUrl" />
                                    </div>
                                    <div class="tn-title">
                                        <a href="">@news.Title</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    
</body>
<partial name="_PagingPartial" model="@Model"/>