@model ArsenalFanPage.Web.ViewModels.News.NewsListViewModel
@{
    this.ViewData["Title"] = "History";
    var pesho = Model.News.FirstOrDefault();

}



@foreach (var news in Model.News)

{
    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12 tn-left">
                        <div class="col-md-12">
                            <div class="tn-img">
                                <img src="@news.ImageUrl" />
                                <div class="tn-title">
                                    <a asp-action="NewsById" asp-route-id="@news.Id">@news.Title</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
}




<partial name="_PagingPartial" model="@Model" />
