@model ArsenalFanPage.Web.ViewModels.News.NewsListViewModel

@{
    this.ViewData["Title"] = "History";
}

@foreach (var historyNews in Model.News.Where(x => x.CategoryId == 6))
{

    <div class="top-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12 tn-left">
                        <div class="col-md-12">
                            <div class="tn-img">
                                <img src="@historyNews.ImageUrl" />
                                <div class="tn-title">
                                    <a asp-action="NewsById" asp-route-id="@historyNews.Id">@historyNews.Title</a>
                                </div>
                            </div>
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
}

<partial name="_PagingPartial" model="@Model" />
