@model ArsenalFanPage.Web.ViewModels.News.SingleNewsViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Single News Start-->
    <div class="single-news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sn-container">
                        <div class="sn-img">
                            <img src="@Model.ImageUrl" alt="@Model.Title" />
                        </div>
                        <div class="sn-content">
                            <h1 class="sn-title">@Model.Title</h1>
                            <hr />
                            <hr />
                            <p>
                                @Html.Raw(Model.SanitizedContent)
                            </p>
                        </div>

                    </div>
                </div>
                <hr />

                @*TODO :Commets*@

                <div class="px-4 pt-3"> <button type="button" class="btn btn-primary float-right" onclick="showAddCommentForm(0)"><i class="fa fa-plus"></i>&nbsp; Comment</button> </div>

            </div>
            <hr />
        </div>
    </div>
</body>
</html>
